{% extends 'base.html' %}


{% block main %}
	
	<h1 class="page-title">About Me</h1>
	<article class="post">
		<div class="entry-content clearfix">
			<!-- <figure class="img-responsive-center">
				<img class="img-responsive" src="img/me.jpg" alt="Developer Image">
			</figure> -->
			<p>基于追梦人物的博客所学习编写，用于毕业设计使用，还有许多不足还望指出，未来还会持续更新拓展。</p>
			<p>
			Based on the blog zmrenwu, there are many deficiencies in the use of graduate design. It is also pointed out that it will continue to expand and expand in the future.
			</p>

			<div class="height-40px"></div>
			<h2 class="title text-center">Social</h2>
			<ul class="social">
				<li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
				<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
				<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
				<li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
			</ul>
		</div>
	</article>

{% endblock main %}